/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, scss/_base.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, scss/_base.scss */
html,
body {
  font-size: 16px;
}

/* line 11, scss/_base.scss */
body {
  background: #fff;
  background: -webkit-gradient(linear, right top, right bottom, color-stop(50%, white), color-stop(100%, #e0f4ff));
  background-attachment: fixed;
  color: #333333;
  padding: 0;
  margin: 0;
  font-family: AsapRegular, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
  position: relative;
  -webkit-font-smoothing: antialiased;
  counter-reset: section;
}

/* line 29, scss/_base.scss */
img,
object,
embed {
  max-width: 100%;
  height: auto;
}

/* line 32, scss/_base.scss */
object,
embed {
  height: 100%;
}

/* line 33, scss/_base.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 39, scss/_base.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

@font-face {
  font-family: 'AsapRegular';
  src: url("../fonts/asap/Asap-Regular-webfont.eot");
  src: url("../fonts/asap/Asap-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/asap/Asap-Regular-webfont.woff") format("woff"), url("../fonts/asap/Asap-Regular-webfont.ttf") format("truetype"), url("../fonts/asap/Asap-Regular-webfont.svg#AsapRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AsapItalic';
  src: url("../fonts/asap/Asap-Italic-webfont.eot");
  src: url("../fonts/asap/Asap-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/asap/Asap-Italic-webfont.woff") format("woff"), url("../fonts/asap/Asap-Italic-webfont.ttf") format("truetype"), url("../fonts/asap/Asap-Italic-webfont.svg#AsapItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AsapBold';
  src: url("../fonts/asap/Asap-Bold-webfont.eot");
  src: url("../fonts/asap/Asap-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/asap/Asap-Bold-webfont.woff") format("woff"), url("../fonts/asap/Asap-Bold-webfont.ttf") format("truetype"), url("../fonts/asap/Asap-Bold-webfont.svg#AsapBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AsapBoldItalic';
  src: url("../fonts/asap/Asap-BoldItalic-webfont.eot");
  src: url("../fonts/asap/Asap-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/asap/Asap-BoldItalic-webfont.woff") format("woff"), url("../fonts/asap/Asap-BoldItalic-webfont.ttf") format("truetype"), url("../fonts/asap/Asap-BoldItalic-webfont.svg#AsapBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes color-pulse {
  /* line 3, scss/_loader.scss */
  0%,
  20% {
    background-color: #3aaf8b;
  }

  /* line 4, scss/_loader.scss */
  40% {
    background-color: #f7d77c;
  }

  /* line 5, scss/_loader.scss */
  60% {
    background-color: #4fb1d7;
  }

  /* line 6, scss/_loader.scss */
  80% {
    background-color: #ea5f57;
  }

  /* line 7, scss/_loader.scss */
  100% {
    background-color: #225d77;
  }
}

/* line 10, scss/_loader.scss */
#loader {
  font-size: 20px;
  text-align: center;
  width: 450px;
  margin: 20% 0 0 -225px;
  position: absolute;
  left: 50%;
  -webkit-transition: margin-top 500ms ease-in-out;
  -moz-transition: margin-top 500ms ease-in-out;
  -o-transition: margin-top 500ms ease-in-out;
  transition: margin-top 500ms ease-in-out;
}
/* line 19, scss/_loader.scss */
#loader .thingy {
  -webkit-animation: color-pulse 800ms infinite linear;
  display: inline-block;
  background-image: url(../img/reload-logo-inverted.png);
  width: 40px;
  height: 40px;
  position: relative;
  bottom: -.4em;
  margin-right: .2em;
}
/* line 30, scss/_loader.scss */
#loader h3 {
  color: #bdc0c6;
}

/* line 33, scss/_loader.scss */
#loader.hide {
  margin-top: -5%;
}

/* line 1, scss/_layout.scss */
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 4%;
  opacity: 0;
  -webkit-transition: opacity 2000ms ease-in-out;
  -moz-transition: opacity 2000ms ease-in-out;
  -o-transition: opacity 2000ms ease-in-out;
  transition: opacity 2000ms ease-in-out;
}
/* line 8, scss/_layout.scss */
.container.show {
  opacity: 1;
}

/* line 11, scss/_layout.scss */
.user {
  width: 22.9%;
  margin-right: 2.8%;
  float: left;
  height: 110px;
}
/* line 27, scss/_layout.scss */
.user:nth-child(5), .user:nth-child(9), .user:nth-child(13), .user:nth-child(17), .user:nth-child(21), .user:nth-child(25), .user:nth-child(29), .user:nth-child(33), .user:nth-child(37), .user:nth-child(41), .user:nth-child(45) {
  margin-right: 0;
}

/* line 6, scss/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: AsapBold, sans-serif;
  color: #2a443b;
  margin-bottom: .2em;
  line-height: 1.1;
}

/* line 13, scss/_typography.scss */
h2 {
  text-transform: uppercase;
  font-size: 1.5em;
}

/* line 18, scss/_typography.scss */
h3 {
  font-size: 1.25em;
}

/* line 1, scss/_header.scss */
#report_overview {
  border-bottom: 4px solid #a2e0cd;
  margin-bottom: 70px;
  position: relative;
  height: 112px;
}

/* line 8, scss/_header.scss */
#logo {
  float: left;
  width: 62px;
  height: 62px;
  margin-top: 22px;
  margin-right: 1em;
  background: url(../img/reload-logo.png) -1px -1px no-repeat;
  text-indent: -100%;
}

/* line 18, scss/_header.scss */
#hours_productive {
  background: #3aaf8b;
  width: 150px;
  height: 150px;
  -webkit-border-radius: 150px 150px;
  -moz-border-radius: 150px / 150px;
  border-radius: 150px / 150px;
  -webkit-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: -10px;
  right: 0;
  padding-top: 36px;
}
/* line 32, scss/_header.scss */
#hours_productive p {
  font-size: .75em;
  color: #2a443b;
}
/* line 37, scss/_header.scss */
#hours_productive .percent {
  font-size: 1.2em;
  font-family: AsapBold, sans-serif;
  color: #fff;
}
/* line 44, scss/_header.scss */
#hours_productive h4 {
  font-size: 3em;
  color: #fff;
  margin-bottom: 0;
  line-height: .8;
}

/* line 52, scss/_header.scss */
.logged_hours {
  font-size: 5em;
  font-family: AsapBold, sans-serif;
  color: #225d77;
  float: left;
  margin-top: -2px;
  margin-right: .15em;
  letter-spacing: -.05em;
}

/* line 62, scss/_header.scss */
.logged_hours_desc {
  color: #225d77;
  text-transform: uppercase;
  float: left;
  margin-top: 23px;
  margin-right: 2em;
}
/* line 70, scss/_header.scss */
.logged_hours_desc span {
  font-size: 1.1em;
  line-height: 1.2;
  display: block;
}
/* line 76, scss/_header.scss */
.logged_hours_desc span.date {
  color: #4fb1d7;
}

/* line 81, scss/_header.scss */
.remaining {
  display: none;
  font-family: AsapItalic;
  font-size: 1.5em;
  line-height: 1.2;
  color: #afb3ba;
}

/* line 3, scss/_user-ranking.scss */
#user_ranking ul li {
  margin-bottom: 2.5%;
  position: relative;
}
/* line 4, scss/_user-ranking.scss */
#user_ranking ul li.hide {
  display: none;
}
/* line 19, scss/_user-ranking.scss */
#user_ranking ul li .rank {
  width: 30px;
  height: 30px;
  text-align: center;
  background: #4fb1d7;
  color: #225d77;
  position: absolute;
  top: -5px;
  left: -5px;
  line-height: 30px;
  font-size: 1.25em;
  -webkit-border-radius: 30px 30px;
  -moz-border-radius: 30px / 30px;
  border-radius: 30px / 30px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
/* line 35, scss/_user-ranking.scss */
#user_ranking ul li .user_info {
  padding-top: .3em;
  padding-left: 112px;
}
/* line 39, scss/_user-ranking.scss */
#user_ranking ul li .user_info .desc {
  font-size: .75em;
}
/* line 46, scss/_user-ranking.scss */
#user_ranking ul li .user_avatar .user_avatar_holder {
  width: 100px;
  height: 100px;
  background-color: #367763;
  -webkit-border-radius: 100px 100px;
  -moz-border-radius: 100px / 100px;
  border-radius: 100px / 100px;
  -webkit-box-shadow: -2px 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -2px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: -2px 0 0 rgba(0, 0, 0, 0.1);
  border: 6px solid #3aaf8b;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 61, scss/_user-ranking.scss */
#user_ranking ul li:after {
  content: "Champ";
  position: absolute;
  bottom: 10px;
  left: -3px;
  width: 106px;
  padding: 0.05em 0 0.1em;
  background: #f7d77c;
  text-align: center;
  color: #fff;
  font-family: AsapBoldItalic, sans-serif;
  -webkit-box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.2), inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.2), inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.2), inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
/* line 77, scss/_user-ranking.scss */
#user_ranking ul li .user_avatar:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 34px;
  left: -3px;
  z-index: 0;
  border-left: 53px solid transparent;
  border-right: 53px solid transparent;
  border-bottom: 53px solid #9d770a;
}
/* line 91, scss/_user-ranking.scss */
#user_ranking ul li.A-karmahunter:after {
  content: "Champ";
  background: #f7d77c;
}
/* line 92, scss/_user-ranking.scss */
#user_ranking ul li.A-karmahunter .user_avatar:before {
  border-bottom-color: #cd9b0d;
}
/* line 95, scss/_user-ranking.scss */
#user_ranking ul li.A-karmahunter .user_avatar .user_avatar_holder {
  background-color: #cd9b0d;
  border-color: #f7d77c;
}
/* line 101, scss/_user-ranking.scss */
#user_ranking ul li.A-karmahunter .user_avatar .rank {
  background: #f7d77c;
  color: #9d770a;
}
/* line 110, scss/_user-ranking.scss */
#user_ranking ul li.B-goalie:after {
  content: "Like a boss";
  background: #4fb1d7;
}
/* line 111, scss/_user-ranking.scss */
#user_ranking ul li.B-goalie .user_avatar:before {
  border-bottom-color: #1a5a73;
}
/* line 114, scss/_user-ranking.scss */
#user_ranking ul li.B-goalie .user_avatar .user_avatar_holder {
  background-color: #1a5a73;
  border-color: #4fb1d7;
}
/* line 123, scss/_user-ranking.scss */
#user_ranking ul li.C-karmauser:after {
  content: "Steady Eddie";
  background: #3aaf8b;
}
/* line 124, scss/_user-ranking.scss */
#user_ranking ul li.C-karmauser .user_avatar:before {
  border-bottom-color: #143c30;
}
/* line 128, scss/_user-ranking.scss */
#user_ranking ul li.C-karmauser .user_avatar .rank {
  background: #3aaf8b;
  color: #2a443b;
}
/* line 137, scss/_user-ranking.scss */
#user_ranking ul li.D-slacker:after {
  content: "Just chillin'";
  background: gray;
}
/* line 138, scss/_user-ranking.scss */
#user_ranking ul li.D-slacker .user_avatar:before {
  border-bottom-color: #404040;
}
/* line 141, scss/_user-ranking.scss */
#user_ranking ul li.D-slacker .user_avatar .user_avatar_holder {
  background-color: #4d4d4d;
  border-color: gray;
}
/* line 147, scss/_user-ranking.scss */
#user_ranking ul li.D-slacker .user_avatar .rank {
  background: gray;
  color: #404040;
}
