// Settings
$containerWidth:  1280px;

// Colors
$green:           #3CAA8B;
$darkGreen:       #367763;
$darkerGreen:     #2A443B;
$blue:            #4FB1D7;
$darkerblue:      #225D77;
$lightYellow:     #FEEDC2;
$yellow:          #F9CB65;
$red:             #EA5F57;

// Imports
@import "compass/reset";
@import "fonts";